@charset "utf-8";

:root[theme=default] {
  --배경색: lightblue; /* rgb(24, 24, 24) */
  --글자색: black; /* #ccc */
  --보더색: black; /* rgb(35, 35, 35) */
  --호버이펙트: rgba(0, 0, 0, 0.118); /* rgba(255, 255, 255, 0.118) */
  --호버이펙트_역: rgba(0, 0, 0, 0.118); /* rgba(0, 0, 0, 0.118) */

  --스크롤바색: rgb(96, 96, 96); /* rgb(170, 170, 170) */
  --스크롤바색_호버: rgb(144, 144, 144); /* rgb(113, 113, 113) */

  --채팅_후원랭킹: yellow; /* #727200 */
  --채팅_패치노트: chartreuse; /* #538522 */
  --채팅_시스템: rgb(160, 224, 57); /* rgb(56, 56, 56) */
  --채팅_접속: aquamarine; /* #3f6a5d */
  --채팅_떠남: indianred; /* #4c2a2a */
  --채팅_나: crimson; /* #d77a7a */
  --채팅_배경_나: lemonchiffon; /* rgb(24, 24, 24) */
  --채팅_남: mediumslateblue; /* #97c5ff */
  --채팅_배경_남: white; /* rgb(24, 24, 24) */
  --채팅_스크롤러_배경색: #000000a6; /* rgba(0, 0, 0, 0.75) */
  --채팅_스크롤러_보더: 0px; /* 1px gray solid */
  --채팅_헬프_배경색: white; /* rgb(56, 56, 56) */

  --채팅_입력창_배경색: white; /* rgb(24, 24, 24) */
  --채팅_입력창_글자색: black; /* white */
  --채팅_입력창_보더색: rgb(118, 118, 118); /* rgb(102, 102, 102) */
  --채팅_입력창_보더색_포커스: rgb(118, 118, 118); /* rgb(63, 148, 228) */
  --채팅_입력창_보더_위: fuck; /* 0px */
  --채팅_입력창_보더_오른쪽: fuck; /* 0px */
  --채팅_입력창_보더_왼쪽: fuck; /* 0px */
  --채팅_입력창_아웃라인: fuck; /* none */
  --채팅_입력창_전송버튼_배경색: fuck; /* transparent */
  --채팅_입력창_전송버튼_보더: fuck; /* 0px */

  --채팅_카테고리_배경색: lightskyblue; /* rgb(222, 222, 222) */
  --채팅_카테고리_필터: none; /* invert(1) */
  --채팅_카테고리_선택: lightblue; /* rgb(222, 222, 222) */
  --채팅_카테고리_선택_보더: none; /* 3px rgb(85, 85, 85) solid */
  --채팅_카테고리_호버: #6192b1; /* rgb(85, 85, 85) */
  --채팅_카테고리_챗알림_배경색: crimson; /* rgb(18, 235, 194) */
  --채팅_카테고리_챗알림_글자색: yellow; /* 0000ff */
  --채팅_카테고리_챗알림_폰트옵션: normal; /* bold */

  --현재_재생목록_박스_배경색: rgb(160, 224, 57); /* rgb(70, 70, 70) */
  --영상주소복사_글자색: -webkit-link; /* cornflowerblue */

  --플레이리스트_배경색: lightskyblue; /* rgb(33, 33, 33) */
  --플레이리스트_좌측_배경색_짝수: rgb(137, 209, 232); /* rgb(33, 33, 33) */
  --플레이리스트_좌측_배경색_홀수: rgb(96, 197, 230); /* rgb(33, 33, 33) */
  --플레이리스트_좌측_배경색_선택: rgb(160, 224, 57); /* rgb(130, 130, 130) */
  --플레이리스트_헤더_배경색: lightskyblue; /* rgb(24, 24, 24) */
  --플레이리스트_헤더_배경색_선택됨: linear-gradient(0deg, rgba(160, 224, 57, 0.23), rgba(160, 224, 57, 0.12)); /* linear-gradient(90deg, rgba(80, 80, 80, 0.5), rgba(0, 0, 0, 0.0)) */
  --플레이리스트_헤더_보더_왼쪽: 1px solid cadetblue; /* 0px */
  --플레이리스트_헤더_보더_아래: 4px solid cadetblue; /* 0px */
  --플레이리스트_헤더_버튼_영상추가_필터: none; /* invert(1) */
  --플레이리스트_헤더_버튼_영상삭제_필터: none; /* invert(1) */
  --플레이리스트_헤더_버튼_이름변경_필터: none; /* invert(1) */
  --플레이리스트_헤더_버튼_셔플_필터: none; /* invert(1) */
  --플레이리스트_헤더_버튼_선택됨: rgb(160, 224, 57); /* rgb(76, 76, 76) */
  --플레이리스트_영상_배경색: lightskyblue; /* rgb(15, 15, 15) */
  --플레이리스트_영상_보더_왼쪽: 1px solid cadetblue; /* 0px */
  --플레이리스트_영상_배경색_짝수: rgb(137, 209, 232); /* rgb(15, 15, 15) */
  --플레이리스트_영상_배경색_홀수: rgb(96, 197, 230); /* rgb(15, 15, 15) */

  --UI_툴팁_보더: 0px; /* 1px solid gray */

  --롤백_배경색: white;
  --롤백_보더색: rgb(244,244,244);
  --롤백_호버색: yellow;

  color: var(--글자색);
}

:root[theme=dark] {
  --배경색: rgb(24, 24, 24);
  --글자색: #ccc;
  --보더색: rgb(35, 35, 35);
  --호버이펙트: rgba(255, 255, 255, 0.118);
  --호버이펙트_역: rgba(0, 0, 0, 0.118);

  --스크롤바색: rgb(170, 170, 170);
  --스크롤바색_호버: rgb(113, 113, 113);

  --채팅_후원랭킹: #727200;
  --채팅_패치노트: #538522;
  --채팅_시스템: rgb(56, 56, 56);
  --채팅_접속: #3f6a5d;
  --채팅_떠남: #4c2a2a;
  --채팅_나: #d77a7a;
  --채팅_배경_나: rgb(24, 24, 24);
  --채팅_남: #97c5ff;
  --채팅_배경_남: rgb(24, 24, 24);
  --채팅_스크롤러_배경색: rgba(0, 0, 0, 0.75);
  --채팅_스크롤러_보더: 1px gray solid;
  --채팅_헬프_배경색: rgb(56, 56, 56);

  --채팅_입력창_배경색: rgb(24, 24, 24);
  --채팅_입력창_글자색: white;
  --채팅_입력창_보더색: rgb(102, 102, 102);
  --채팅_입력창_보더색_포커스: rgb(63, 148, 228);
  --채팅_입력창_보더_위: 0px;
  --채팅_입력창_보더_오른쪽: 0px;
  --채팅_입력창_보더_왼쪽: 0px;
  --채팅_입력창_아웃라인: none;
  --채팅_입력창_전송버튼_배경색: transparent;
  --채팅_입력창_전송버튼_보더: 0px;

  --채팅_카테고리_배경색: rgb(222, 222, 222);
  --채팅_카테고리_필터: invert(1);
  --채팅_카테고리_선택: rgb(222, 222, 222);
  --채팅_카테고리_선택_보더: 3px rgb(85, 85, 85) solid;
  --채팅_카테고리_호버: rgb(85, 85, 85);
  --채팅_카테고리_챗알림_배경색: rgb(18, 235, 194);
  --채팅_카테고리_챗알림_글자색: 0000ff;
  --채팅_카테고리_챗알림_폰트옵션: bold;

  --현재_재생목록_박스_배경색: rgb(70, 70, 70);
  --영상주소복사_글자색: cornflowerblue;

  --플레이리스트_배경색: rgb(33, 33, 33);
  --플레이리스트_좌측_배경색_짝수: rgb(33, 33, 33);
  --플레이리스트_좌측_배경색_홀수: rgb(33, 33, 33);
  --플레이리스트_좌측_배경색_선택: rgb(130, 130, 130);
  --플레이리스트_헤더_배경색: rgb(24, 24, 24);
  --플레이리스트_헤더_배경색_선택됨: linear-gradient(90deg, rgba(80, 80, 80, 0.5), rgba(0, 0, 0, 0.0));
  --플레이리스트_헤더_보더_왼쪽: 0px;
  --플레이리스트_헤더_보더_아래: 0px;
  --플레이리스트_헤더_버튼_영상추가_필터: invert(1);
  --플레이리스트_헤더_버튼_영상삭제_필터: invert(1);
  --플레이리스트_헤더_버튼_이름변경_필터: invert(1);
  --플레이리스트_헤더_버튼_셔플_필터: invert(1);
  --플레이리스트_헤더_버튼_선택됨: rgb(76, 76, 76);
  --플레이리스트_영상_배경색: rgb(15, 15, 15);
  --플레이리스트_영상_보더_왼쪽: 0px;
  --플레이리스트_영상_배경색_짝수: rgb(15, 15, 15);
  --플레이리스트_영상_배경색_홀수: rgb(15, 15, 15);

  --UI_툴팁_보더: 1px solid gray;

  --롤백_배경색: var(--배경색);
  --롤백_보더색: var(--보더색);
  --롤백_호버색: var(--보더색);

  color: var(--글자색);
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.nanum {
  font-family: "Nanum Gothic";
}
.bold {
  font-weight: bold;
}
.hover:hover {
  background-color: var(--호버이펙트) !important;
}
.hover_reverse:hover {
  background-color: var(--호버이펙트_역) !important;
}

.no-drag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select: none;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--스크롤바색);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--스크롤바색_호버);
}

/* * { font-family: "Nanum Gothic" !important; } */

.adsbygoogle {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

/* 초기화 전 블록 */
#init_block {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  /* background-image: url('bg.jpg'); */
  background-color: pink;
  z-index: 100;
}

#login_bg {
  position: fixed;
  width: 320px;
  height: 220px;
  background-color: whitesmoke;
  border: 4px solid gray;
  border-radius: 0.5em;
  opacity: 0.75;
  display: none;
  z-index: 101;
}

#login_port {
  position: fixed;
  text-align: center;
  width: 320px;
  font-size: 60px;
  line-height: 60px;
  display: none;
  z-index: 102;
}

#login_id {
  position: fixed;
  height: 50px;
  width: 180px;
  font-size: 30;
  display: none;
  z-index: 101;
}

#login_pw {
  position: fixed;
  height: 50px;
  width: 180px;
  font-size: 30;
  display: none;
  z-index: 101;
}

#login_button {
  position: fixed;
  width: 108px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  font-size: 24;
  border: 1px solid;
  background-color: goldenrod;
  border-radius: 0.5em;
  cursor: pointer;
  display: none;
  z-index: 101;
}

#login_remember_nick_holder {
  position: fixed;
  display: none;
  z-index: 101;
}

/* =================== 좌 하단 ========================= */

/* 현재 재생목록 정보 */
#current_playlist_info_box {
  position: fixed;
  background-color: var(--배경색);
  left: 0px;
  height: 86px;
  cursor: pointer;
}


#current_playlist_info_box:hover {
  background-color: var(--현재_재생목록_박스_배경색);
}


/* 선택된 재생목록 (const) */
#current_playlist_name_const {
  text-align: center;
  margin-top: 8px;
}

/* 선택된 재생목록 */
#current_playlist_name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  margin-right: 5px;
}

/* 현재 재생목록 맨 앞 곡 정보 */
#current_playlist_video_name
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

/* =================== 하단 ========================= */

/* 현재 비디오 정보 */
#video_info {
  background-color: var(--배경색);
  height: 86px;
  /* width: 622px; */
  position: fixed;
  border-width: thin;
  border-top: 0;
  border-bottom: 0;
  border-style: solid;
  border-color: var(--보더색);
}

#video_info_dj { 
  font-family: "Nanum Gothic";
  padding-left: 11px;
  padding-top: 6px;
}

#video_info_dj::before {
  content: 'DJ';
  font-weight: bold;
  padding-right: 6px;
}

/* 볼륨 조절 박스 */
#video_info_volume_box {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  height: 25px;
  /* border-left: 1px solid;
  border-bottom: 1px solid; */
  border-color: var(--보더색);
  box-sizing: content-box;
}

#video_info_volume_slider {
  position: relative;
  width: 155px;
  height: 100%;
  float: right;
  margin: 0px;
  margin-right: 10px;
}

#video_info_volume_btn {
  background: url('tts.png');
  background-size: 100%;
  position: relative;
  height: 25px;
  float: left;
  width: 25px;
  cursor: pointer;
}

#video_info_name {
  font-family: "Nanum Gothic";
  padding-left: 11px;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

#video_info_name::before {
  content: 'TITLE';
  font-weight: bold;
  padding-right: 6px;
}

/* 영상 링크 확인 */
#video_link {
  padding-left: 10px;
  font-family: "Nanum Gothic";
  cursor: pointer;
  color: var(--영상주소복사_글자색);
}

/* 영상 시간 프로그레스 바 */
#my_progress_bar {
  background: #b1a8a3;
  border-radius: 12px;
  height: 9px;
  width: 600px;
  padding: 0px;
  margin: 0 auto;
  position: fixed;
  /* left: 243px; */
}
#my_progress_bar_after {
  height: 9px;
  width: 0px;
  /* left: 243px; */
  position: fixed;
  display: block;
  background: red;
  border-radius: 9px;
}
/* 영상 시간 라벨 */
#video_info_time {
  text-align: right;
  position: fixed;
  /* left: 243px; */
  /* width: 601px; */
  font-size: 14;
  font-weight: bold;
  font-family: "Nanum Gothic";
}

/* =================== 우하단 ========================= */

#etc_box {
  position: fixed;
  background-color: var(--배경색);
  border-width: thin;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
  border-color: var(--보더색);
}

#etc_dj_button {
  float: left;
  text-align: center;
  width: 100%;
  top: 5px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 20px;
}

#etc_skip_button {
  float: right;
  text-align: center;
  width: 30%;
  top: 5px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 20px;
  background-color: #0000001a;
  display: none;
}

/* 좋아요 이미지 */
#etc_good_button {
  position: fixed;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('good3.png');
  background-size: 100%;
}

#etc_good_count {
  position: fixed;
  line-height: 32px;
}

#etc_bad_button {
  position: fixed;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('bad3.png');
  background-size: 100%;
}

#etc_bad_count {
  position: fixed;
  line-height: 32px;
}

/* =================== 영상부 ========================= */

/* 유튜브 영상 */
#video_player {
  top:0px; 
  left:0px; 
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: var(--보더색);
}

/* 유튜브 영상 커버 */
#block_video {
  position: fixed;
  top:0px; 
  left:0px; 
  background-color: black;
  color: white;
  font-family: "Nanum Gothic";
  font-weight: bold;
  font-size: xxx-large;
  text-align: center;
  z-index: 3;
  display: none;
  box-sizing: border-box;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--보더색);
}

#marquee_screen {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  display: block;
  pointer-events: none;
}

.marquee {
  position: absolute;
  padding:0.5em 0;
  overflow:hidden;
  margin-bottom:10px;
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000, 1px 1px #000;
  font-size: xx-large;
  width: 100%;
}

.marquee p:after {
  content:"";
  white-space:nowrap;
  padding-right:50px;
}

.marquee p {
  margin:0;
  padding-left:100%;
  display:inline-block;
  white-space:nowrap;
    -webkit-animation-name:marquee;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:7s;
    -webkit-animation-iteration-count:1;
    -moz-animation-name:marquee;
    -moz-animation-timing-function:linear;
    -moz-animation-duration:7s;
    -moz-animation-iteration-count:1;
    -ms-animation-name:marquee;
    -ms-animation-timing-function:linear;
    -ms-animation-duration:7s;
    -ms-animation-iteration-count:1;
    -o-animation-name:marquee;
    -o-animation-timing-function:linear;
    -o-animation-duration:7s;
    -o-animation-iteration-count:1;
    animation-name:marquee;
    animation-timing-function:linear;
    animation-duration:7s;
    animation-iteration-count:1;
}
@-webkit-keyframes marquee {
  from   { -webkit-transform: translate(0%);}
  99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
  from   { -moz-transform: translate(0%);}
  99%,to { -moz-transform: translate(-100%);}
}
@-ms-keyframes marquee {
  from   { -ms-transform: translate(0%);}
  99%,to { -ms-transform: translate(-100%);}
}
@-o-keyframes marquee {
  from   { -o-transform: translate(0%);}
  99%,to { -o-transform: translate(-100%);}
}
@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}

/* =================== 우측 채팅 ========================= */

/* 채팅 메인 */
#mainchat {
  margin: auto;
  /* border-radius: 20px; */
  background-color: var(--배경색);
  text-align: center;
  /* width: 350px; */
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

/* 우측 카테고리 헤더 */
#mainchat_header {
  height: 50px;
  box-sizing: border-box;
  background: lightskyblue;
}

#mainchat_header_chat {
  background-image: url(chat_menu.png);
}

#chat_noti_count {
  position: relative; 
  background-color: var(--채팅_카테고리_챗알림_배경색); 
  border-radius: 50%;
  top: 21px;
  height: 15px;
  display: none;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--채팅_카테고리_챗알림_글자색);
  margin-left: 32px;
  font-weight: var(--채팅_카테고리_챗알림_폰트옵션);
}

#mainchat_header_djlist {
  background-image: url(djlist_menu2.png);
}

#user_count {
  position: relative;
  background-color: black;
  border-radius: 50%;
  top: 24px;
  height: 15px;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: lightcyan;
  margin-left: 32px;
  font-weight: bold;
}

#mainchat_header_recent {
  background-image: url(recent_menu.png);
}

#mainchat_header_option {
  background-image: url(option_menu.png);
}

.mainchat_header_btn {
  height: 100%;
  background-repeat: no-repeat;
  background-color: var(--채팅_카테고리_배경색);
  background-position: center;
  float: left;
  filter: var(--채팅_카테고리_필터);
}

.mainchat_header_btn:not([selected]) {
  cursor: pointer;
}

.mainchat_header_btn:not([selected]):hover {
  background-color: var(--채팅_카테고리_호버);
}

.mainchat_header_btn[selected] {
  background-color: var(--채팅_카테고리_선택);
  border-bottom: var(--채팅_카테고리_선택_보더);
  box-sizing: border-box;
}

/* 참여자 카테고리 */
#djlist {
  height: 95%;
  width: 100%;
  overflow-y: auto;
  display: none;
}

#djlist_users_header {
  margin-top: 20px;
}

ul#djlist_users {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  overflow-y: auto;
  padding-left: 0px;
}

.djlist_user {
  line-height: 39px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
}

.djlist_user.dark {
  background-color: rgba(0, 0, 0, 0.06);
}

.djlist_user:not(.dark) {
  background-color: rgba(0, 0, 0, 0.02);
}

.djlist_user > number {
  float: left;
  width: 30px;
  text-align: left;
}

#djlist_djs_header {
  padding-top: 50px;
  border-top: 2px solid;
  border-color: var(--보더색);
}

ul#djlist_djs {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  overflow-y: auto;
  padding-left: 0px;
}

.djlist_dj {
  line-height: 39px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}

.djlist_dj.dark {
  background-color: rgba(0, 0, 0, 0.06);
}

.djlist_dj:not(.dark) {
  background-color: rgba(0, 0, 0, 0.02);
}

.djlist_dj > number {
  float: left;
  width: 30px;
  text-align: left;
}

/* 최근곡 카테고리 */
#recent {
  height: 95%;
  width: 100%;
  overflow-y: auto;
  display: none;
}

ul#recent_list {
  margin: 0px;
  padding: 0px;
}

div.recent_list_video {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  width: 93.4% !important;
}

/* 옵션 카테고리 */
#option {
  height: 95%;
  width: 100%;
  text-align: left;
  overflow-y: auto;
  display: none;
}

.option_row {
  position: relative;
  margin-left: 11px;
  margin-top: 25px;
}

/* 로그아웃 버튼 */
#option_button_logout {
  width: 328px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: red;
  letter-spacing: 1px;
}

/* 채팅 영역 */
#chat {
  height: 95%;
  width: 100%;
  overflow-y: auto;
}

#chat_input {
  width: 85%;
  height: 26px;
  margin-top: 11px;
  position: relative;
  z-index: 1;

  background-color: var(--채팅_입력창_배경색);
  color: var(--채팅_입력창_글자색);
  border-color: var(--채팅_입력창_보더색);
}

#chat_input:focus {
  border-color: var(--채팅_입력창_보더색_포커스);
}

#chat_send {
  height: 26px;
  top: 2px;
  position: relative;
  /* left: 5px; */
  color: var(--글자색);
}

/* 스크롤 도우미 버튼 */
#chat_scroller {
  top: -75px;
  left: 0px;
  z-index: 2;
  background-color: var(--채팅_스크롤러_배경색);
  display: none; /* 아니면 inline */
  position: relative;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  color: #fff;
  overflow: hidden;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: var(--채팅_스크롤러_보더);
}

/* 이미지 돋보기 */
#image_expander {
  position: fixed;
  display: none;
  z-index: 30;
  border: 1px solid gray;
  pointer-events: none;
  border-color: var(--보더색);
}

#image_expander_src {
  min-width: 350px;
  min-height: 250px;
  pointer-events: none;
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: var(--채팅_접속);
  text-align: center;
  margin-top: 10px;
  font-family: 'Dovemayo';
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: var(--채팅_떠남);
  text-align: center;
  margin-top: 10px;
  font-family: 'Dovemayo';
}

/* 내가 보낸 메시지 */
.me {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  background-color: var(--채팅_배경_나);
  border-radius: 5px;
  text-align: left;
}

.me .nick {
  color: var(--채팅_나);
}

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  background-color: var(--채팅_배경_남);
  border-radius: 5px;
  text-align: left;
}

.other .nick {
  color: var(--채팅_남);
}

/* 시스템 메시지 */
.system_message {
  width: 90%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: auto;
  background-color: var(--채팅_시스템);
  text-align: center;
  margin-top: 10px;
  font-family: 'Dovemayo';
}

.chat {
  overflow-wrap: break-word;
  padding-top: 3px;
  padding-bottom: 3px;
  white-space: pre-line;
}

.chat_balloon {
  padding-left: 7px;
  padding-right: 7px;
}

.chat_img {
  width: 100%;
}

.chat_profile {
  height: 39px;
  width: 39px;
  margin-right: 5px;
  padding-top: 0px;
  float: left;
  border-radius: 30%;
}

.chat_tts_icon {
  float: right;
  cursor: pointer;
}

.system_message.play_info {
  padding-top: 7px;
  text-align: center;
  overflow-y: auto;
  overflow-x: clip;
  border-radius: 3%;
}

.play_info > img {
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid;
  box-sizing: border-box;
  border-color: var(--보더색);
}

.play_info > .play_info_dj {
  padding-top: 2px;
}

.play_info > .play_info_title {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* =================== 플레이리스트 컨트롤 패널 ========================= */

/* 플레이리스트 컨트롤 패널 */
#playlist_control_panel {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  background-color: var(--플레이리스트_배경색);
  display: none;
  border: solid 1px;
  box-sizing: border-box;
  border-top: 0;
  border-left: 0;
  border-color: var(--보더색);
}

/* 재생목록 리스트 */
#playlist_control_panel_playlist_header {
  overflow-y: auto;
}

.playlist_button {
  height: 60px;
  line-height: 60px;
  padding-left: 11px;
  padding-right: 11px;
  cursor: pointer;
  clear: both;
}

.playlist_button.odd {
  background-color: var(--플레이리스트_좌측_배경색_홀수);
}

/* .playlist_button.odd:hover {
  background-color: rgb(66, 167, 200);
} */

.playlist_button.even {
  background-color: var(--플레이리스트_좌측_배경색_짝수);
}

/* .playlist_button.even:hover {
  background-color: rgb(107, 179, 202);
} */

.playlist_button[selected] {
  background-color: var(--플레이리스트_좌측_배경색_선택) !important;
}

.playlist_button > .text {
  /* float: left; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.playlist_button > .text.create_button {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: rgb(84, 128, 130);
  line-height: 1;
}

.playlist_button > .playing_img {
  background-image: url('play2.png');
  width: 40px;
  height: 40px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  float: left;
}


/* 재생목록 인포 */
#playlist_control_panel_playlist_info {
  top: 0px;
  position: absolute;
  background-color: var(--플레이리스트_헤더_배경색);
  border-bottom: var(--플레이리스트_헤더_보더_아래);
  box-sizing: border-box;
  font-size: 30px;
  line-height: 100px;
  padding-left: 30px;
  border-left: var(--플레이리스트_헤더_보더_왼쪽);
}

#playlist_control_panel_playlist_info > div {
  height: 100%;
}

#playlist_control_panel_playlist_info_name {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#playlist_control_panel_playlist_info_select {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

#playlist_control_panel_playlist_info_select[selected] {
  background-color: var(--플레이리스트_헤더_배경색_선택됨);
}

#playlist_control_panel_playlist_info_shuffle {
  float: right;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;
  background-image: url(shuffle_button.png);
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--플레이리스트_헤더_버튼_셔플_필터);
}

/* #playlist_control_panel_playlist_info_select:hover {
  background-color: rgb(105, 176, 220);
} */

#playlist_control_panel_playlist_info_new_video_button {
  float: right;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;
  background-image: url(new_video_button.png);
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--플레이리스트_헤더_버튼_영상추가_필터);
}

#playlist_control_panel_playlist_info_new_video_button:hover::after {
  content: '　';
  position: relative;
  top: 76px;
  left: 41px;
  font-size: 20px;
  word-break: break-word;
  line-height: 10px;
  background-image: url(right_click.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


#playlist_control_panel_playlist_info_rename_button {
  float: right;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;
  background-image: url(rename_button.png);
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--플레이리스트_헤더_버튼_이름변경_필터);
}

#playlist_control_panel_playlist_info_delete_button {
  float: right;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;
  background-image: url(delete_button.png);
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--플레이리스트_헤더_버튼_영상삭제_필터);
}

/* 영상 목록 리스트 */
#playlist_control_panel_videolist_header {
  position: absolute;
  top: 100px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--플레이리스트_영상_배경색);
  border-left: var(--플레이리스트_영상_보더_왼쪽);
}

#playlist_control_panel_videolist_header > div > img {
  cursor: pointer;
}

.videolist_button {
  height: 80px;
  clear: both;
}

.videolist_button.even {
  background-color: var(--플레이리스트_영상_배경색_짝수);
}

.videolist_button.odd {
  background-color: var(--플레이리스트_영상_배경색_홀수);
}

.videolist_button > img {
  float: left;
  height: 79px;
  width: 140.438px;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 1px;
}

.videolist_button > .text {
  float: left;
  line-height: 70px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete_button {
  background-image: url('delete.png');
  width: 70px;
  height: 70px;
  padding: 5px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sort_button {
  background-image: url('arrow.png');
  width: 70px;
  height: 70px;
  padding: 5px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sort_button.top {
  background-image: url('arrow_top.png');
}

.sort_button.down {
  background-image: url('arrow_invert.png');
  /* transform: scaleY(-1); */
}

.sort_button.down.top {
  background-image: url('arrow_invert_top.png');
}

.play_now_button {
  background-image: url('play_now.png');
  width: 70px;
  height: 70px;
  padding: 5px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sort_button:hover:not(.top)::after {
/* .sort_button::after { */
  content: '　';
  position: relative;
  top: 55px;
  left: 50px;
  font-size: 20px;
  word-break: break-word;
  line-height: 10px;
  background-image: url(right_click.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



/* .even > .delete_button:hover {
  background-color: rgb(107, 179, 202);
}

.odd > .delete_button:hover {
  background-color: rgb(66, 167, 200);
} */

/* =================== 유튜브 생방송 채팅 패널 ========================= */

/* 라이브채팅 메인 패널 */
#youtube_live_chat_box {
  display: none;
  position: fixed;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  z-index: 2;
}

/* 헤더 */
#youtube_live_chat_box_header {
  background-color: gray;
  width: 100%;
}

/* 슬라이더 커버 (드래그 무브 방지) */
#youtube_live_chat_header_slider_frame {
  position: relative;
  width: 150px;
  height: 20px;
  top: 3px;
  right: 35px;
  float: right;
}

/* 투명도 슬라이더 */
#youtube_live_chat_header_slider {
  width: 100%;
  height: 100%;
}

/* 보이기/숨기기 토글 */
#youtube_live_chat_header_show_toggle {
  position: relative;
  background-image: url('circle.png');
  width: 20px;
  height: 20px;
  right: 15px;
  top: 5px;
  float: right;
}

#youtube_live_chat_header_show_toggle[toggled] {
  background-image: url('circle2.png');
}

#youtube_live_chat_header_show_toggle[toggled]:hover {
  cursor: pointer;
  background-image: url('circle3.png');
}
#youtube_live_chat_header_show_toggle:hover {
  cursor: pointer;
  background-image: url('circle3.png');
}


/* 채팅 메인 프레임 */
#youtube_live_chat_iframe {
  border: 0px;
  width: 100%;
  background-color: black;
  position: absolute;
  border-color: var(--보더색);
}

/* 리사이즈 박스 */
#youtube_live_chat_header_resize_box {
  position: relative;
  width: 19px;
  height: 19px;
  float: right;
  right: 0px;
  background-image: url('resize.png');
  cursor: nw-resize;
  z-index: 3;
}

#youtube_live_chat_global_move_panel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  cursor: move;
  z-index: 100;
}
  
#youtube_live_chat_global_resize_panel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  cursor: nw-resize;
  z-index: 100;
}

/* 춤추는 캐릭터 */
#dancing_character {
  width: 110px;
  height: 128px;
  background: url("chara_sprite.png") left center;
  animation: play 0.8s steps(8) infinite;
  position: fixed;
  left: 600px;
  top: 600px;
  z-index: 3;
  background-position-y: 256px;
  /* pointer-events: none; */
}
@keyframes play {
  100% {
    background-position: -880px 256px;
  }
}

/* UI 툴팁 */
#ui_tooltip {
  width: fit-content;
  max-width: 800px;
  height: fit-content;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  white-space: pre-line;
  position: fixed;
  display: none;
  z-index: 31;
  pointer-events: none;
  border: var(--UI_툴팁_보더);
}

/* =========================== 롤백 ================================ */

#lol_panel {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 20;
  background-color: var(--롤백_배경색);
  border: solid 1px;
  box-sizing: border-box;
  border-top: 0;
  border-left: 0;
  border-color: var(--보더색);
}

#lol_lpanel {
  left: 0px;
  top: 0px;
  width: 485px;
  height: 100%;
  border-right: 1px solid var(--보더색);
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: clip;
  flex-shrink: 0;
}

#lol_rpanel {
  flex-grow: 1;
}

#lol_lpanel_account {
  padding: 5px;
  border-bottom: 1px solid var(--롤백_보더색);
}

#lol_lpanel_board {
  
}

#lol_lpanel_board_list {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.lol_article_list_item {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid var(--롤백_보더색);
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  align-content: stretch;
}

.lol_article_list_item > img[icon] {
  width: 45px;
  height: 45px;
  margin-left: 5px;
  flex-grow: 0;
}

.lol_article_list_item > [article_info] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.lol_article_list_item [title_container] {
  display: flex;
  max-width: 378px;
}

.lol_article_list_item [title] {
  margin-left: 5px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.lol_article_list_item [reply_cnt] {
  color: rgb(216, 74, 74);
  font-weight: bold;
  margin-left: 3px;
}
  
.lol_article_list_item [spec] {
  font-weight: bold;
  color: rgb(163, 163, 163);
  margin-left: 5px;
  font-size: small;
}

.lol_article_list_item [type] {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  flex-grow: 0;
}

.lol_article_list_item:hover {
  background-color: var(--롤백_호버색);
}

#lol_rpanel_header {
  display: flex;
  margin: 15px;
}

#lol_rpanel_header_icon {
  margin-top: 6px;
  width: 60px;
  height: 60px;
}

#lol_rpanel_header > [detail_info] {
  margin-left: 10px;
}

#lol_rpanel_header > [detail_info] > [spec_info] {
  display: flex;
}

#lol_rpanel_header_title {
  font-size: large;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--롤백_보더색);
}

#lol_rpanel_header_nick {
  margin-bottom: 6px;
  font-size: large;
  font-weight: bold;
  color: rgb(190,190,190);
}

#lol_rpanel_header_spec {
  font-size: large;
  margin-left: 6px;
}

#lol_rpanel_header_button {
  color: red;
  font-weight: bold;
}

#lol_rpanel_body {
  margin: 15px;
  margin-top: 20px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  overflow-y: auto;
}

#lol_rpanel_body_youtube_container {
  height: calc(100% / 16 * 9);
  margin-bottom: 40px;
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lol_rpanel_body_instant_queue {
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#lol_rpanel_body_date {
  font-weight: bold;
  text-align: right;
  color: rgb(197,197,197);
  margin-right: 10px;
}

#lol_rpanel_body_img1 {
  width: calc(100% - 20px);
}
#lol_rpanel_body_img2 {
  width: calc(100% - 20px);
}
#lol_rpanel_body_img3 {
  width: calc(100% - 20px);
}
#lol_rpanel_body_img4 {
  width: calc(100% - 20px);
}

#lol_rpanel_reply {
  /* border-top: 1px solid var(--롤백_보더색); */
  margin-top: 20px;
}

#lol_rpanel_reply_board_list {
  padding: 0px;
}

.lol_reply_list_item {
  display: flex;
  border-top: 1px solid var(--롤백_보더색);
  padding-top: 5px;
  margin-bottom: 5px;
}

.lol_reply_list_item [icon] {
  width: 50px;
  height: 50px;
}

.lol_reply_list_item [reply_body] {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.lol_reply_list_item [nick] {
  font-weight: bold;
}

.lol_reply_list_item [nick_container] {
  display: flex;
  margin-bottom: 7px;
  margin-top: 3px;
}

.lol_reply_list_item [before] {
  margin-left: 10px;
  border-left: 2px solid var(--롤백_보더색);
  padding-left: 10px;
}